# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Node modules and logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS & system files
.DS_Store

# Data and outputs (ignored by default)
data/raw/
analysis/outputs/
